@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
  /* background-color: rgb(248 250 252); */
  background-color: rgb(247, 247, 247)
  
}


* {
  box-sizing: border-box;
}


.search_input{
  background-image: url('https://img.icons8.com/ios-glyphs/50/000000/search.png');
 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
 padding: 0.3em 0.5em;
 
  
 
}
.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* react-masonary-css */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > img { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}



 /* the slides */
 .slick-slide {
  padding-top: 1em ;
  /* z-index: -1 !important; 
  position: relative !important; */
 
}
/* .slick-current{
  z-index: 1 !important; 

} */
/* .slick-slider{
  position: relative !important;
  z-index: 1 !important; 
}
.higher_zindex {
  z-index: 9999 !important;
} */


.accordion-button::after{
  margin-left: 1em !important;
  border: none;
}
.accordion-flush{
  border-bottom: 0 !important;
}
/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */


/* for whatsup button*/

.float{
	position:fixed;
	/* width:60px; */
	height:60px;
	bottom:40px;
	right:40px;
	/* background-color:#25d366; */
	/* color:#FFF; */
	/* border-radius:50px; */
	text-align:center;
  font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
  z-index:9;
}

.my-float{
	margin-top:16px;
}

/* .line-break {
  white-space: pre-wrap !important;
} */


/* for pagination styling  */


.paginationBttns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.paginationBttns li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  cursor: pointer;
}
.paginationBttns li.previous a,
.paginationBttns li.next a,
.paginationBttns li.break a {
  border-color: transparent;
}
.paginationActive {
  background-color: #0891B2;
  /* border-color: transparent; */
  color: white;
  overflow: hidden;
}
.paginationDisabled{
  color: grey;
  cursor: default;

}
